.listagem-marcas {
    padding-bottom: 5rem;
    height: 100vh;
    &__header {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;

        &--control {
            margin: 1rem auto;
        }

        &--button {
            border-radius: 5px;
            border: 2px solid rgb(111,51,51);
            background-color: #000000;
            margin: 0 1rem;
            padding: 0.5rem 2rem;
            color: #ffffff91;
            transition: 0.5s color ease-in;
            font-size: 1rem;

            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    &__container {
        padding-top: 1rem;

        &--table {
            width: 100%;
            text-align: center;

            &-h {
                color: #fff;
                background-color: transparent;
                & tr td {
                    padding-bottom: 2rem;
                }

            }

            &-b {
                color:#ffffff91;
                & tr td {
                    border-bottom: 1px solid #ffffff91;
                    padding-bottom: .5rem;
                    padding-top: .5rem;
                }
            }

            &--destaque {
                color: #FFFFFF;
                font-weight: bold;
                font-size: 18px;
            }

            &--button {
                margin: 1rem 1rem;
                color: #ffffff91;
                font-size: 1.5rem;
                transition: 0.5s color ease-in;
    
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                }

            }
        }

        
    }
}