.main-menu {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    justify-content: flex-end;
    background: rgb(111,51,51);
    background: linear-gradient(174deg, rgba(111,51,51,1) 0%, rgba(79,63,63,1) 93%);
    z-index: 1000;
    
    &__item {
        padding: 1rem;

        &.left {
            margin-right: auto;
        }

        &--img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }

        &--link {
            color: #ffffffb1;
            font-size: 1rem;
            font-weight:bold;
            transition: 200ms color ease-in;
        }
        &--link:hover {
            color: #ffffff;
            transition: transform 0.2 ease-in-out;
            transform: scale(1.2);
            text-decoration: none;
        }

    }
}