.main-menu {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    justify-content: flex-end;
    background: rgb(111,51,51);
    background: linear-gradient(174deg, rgba(111,51,51,1) 0%, rgba(79,63,63,1) 93%);
    z-index: 1000;
    transition: height 0.5s;
    border-top: 2px solid rgb(111,51,51);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    @media only screen and (max-width:574px) {
        justify-content: center;
    }

    &:hover {
        height: 5rem;
    }
    
    &__item {
        padding: 0.5rem;

        &.left {
            margin-right: auto;
            @media only screen and (max-width:574px){
                width: 0px;
                margin: 0;
                padding: 0;
            }
        }

        &--img {
            height: 3.3rem;
            width: 3.3rem;
            border-radius: 50%;
            @media only screen and (max-width:574px) {
                position: fixed;
                top: 0;
                left: 0;
                margin:1rem;
            }

        }

        &--link {
            color: #ffffff91;
            font-weight:bold;
            transition: 0.5s color ease-in;
            font-size: 1rem;
        }
        &--link:hover {
            color: #ffffff;
            text-decoration: none;
        }

    }
}